:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
@font-face {
    font-family: svn-apple;
    src: url(../assets/SVN-Apple.ttf);
}
.clear{
    background-color:white;
    position: 0px 10px 0px 0px;
    border: none;
    float: auto;
    margin-left: 7.5px;
}
#showcase{
    min-height:400px;
    background:url('../assets/showcase.jpg') no-repeat 0 -400px;
    color:#ffffff;
}
#showcase h1{
    margin:0 50rem 0 0;
    padding: 10rem 0 0 10rem;
    font-family: svn-apple;
    font-size:80px;
}
#showcase p{
    font-family: svn-apple;
    font-size:55px;
    padding: 0 0 0 10rem;
}
#text-about{
    text-align: center;
}
#text-about p{
    padding-top: 2%;
    text-align: justify;
}
.row{
    padding: 2.5% 15% 0% 20%;
}
.micros-main{
    align-self: center;
}
#row-about{
    padding-bottom: 5%;
}

.mega-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    width: 10%;
    top: calc(100% + 100px);
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mega-dropdown:hover .mega-content {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.mega-content h3 {
    margin: 20px 0;
    padding-left: 20px;
}

.mega-content ul {
    display: flex;
    flex-direction: column;
}

.mega-content ul > li > a {
    font-weight: normal;
    padding: 10px 0;
    border-bottom: 2px dashed #f5f5f5;
    transition: padding-left 0.2s ease-in-out;
    margin: 0 20px;
    text-transform: capitalize;
}

.mega-content ul > li > a:hover {
    padding-left: 10px;
}

.mega-content ul > li {
    border-bottom: 2px solid transparent;
}

.mega-content ul > li:hover {
    border-bottom: 2px solid var(--red);
}

.box {
    padding: 20px;
}
.box ul li {
    list-style: none;
}
.box ul li a {
    text-decoration: none;
    color: #000;
}

.hero {
    height: calc(
        100vh -
            (
                var(--top-header-size) + var(--mid-header-size) +
                    var(--bottom-header-size)
            )
    );
    padding: 0 20px;
}


footer section a {
    color: #ffffff;
}